<nav class="navbar navbar-expand-lg navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SmartHome</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="col-sm-6 col-sm-offset-3">

    <div>
      <h2 style="display: inline-block; color: #fff">Dashboard </h2>
      <button type="button" class="btn btn-default btn-sm pull-right" style="margin-top: 24px;" (click)="getHeartbeat()">
          <span class="glyphicon glyphicon-heart"></span> Heartbeat 
      </button>

      <div class="well well-sm well-custom" *ngIf="heartBeat">{{heartBeat.response}}</div>
    </div>

  </div>

  <div class="col-sm-6 col-sm-offset-3">

    <accordion>
      <accordion-group *ngFor="let group of lightGroups" class="panel-heading-custom">

        <button class="btn btn-link btn-block" accordion-heading>
          <div style="text-align: center; color: #fff;">{{group.name}}</div>
        </button>

        <button type="button" class="btn btn-primary btn-block toggle-all" (click)="toggleLightGroup(group.id)">
          Toggle All {{group.name}} Lights
        </button>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Light Name</th>
              <th scope="col">State</th>
            </tr>
          </thead>
          <tbody *ngFor="let light of group.formattedLights">
            <tr>
              <th scope="row">{{light.name}}</th>
              <td>
                <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 10px; background-color: steelblue;" (click)="toggleLight(light.id); light.state.on = !light.state.on">
                  <div *ngIf="light.state.on">Turn Off</div>
                  <div *ngIf="!light.state.on">Turn On</div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </accordion-group>
    </accordion>

  </div>
</div>
